# ============================================
# Python Cache Files
# ============================================

__pycache__/
*.py[cod]

# ============================================
# Python Virtual Environment
# ============================================

.venv/
venv/

# ============================================
# IDE Settings
# ============================================

.idea/
.vscode/

# ============================================
# Windows Files
# ============================================

Thumbs.db
Desktop.ini

# ============================================
# Python Logs
# ============================================

*.log

# ============================================
# Build Folders
# ============================================

build/
dist/

# ============================================
# Environment Variables
# ============================================

.env

# ============================================
# Optional
# ============================================

*.tmp
*.bak
*.db
*.sqlite
*.sqlite3
*.exe